In [1]:
import csv
import pandas as pd

In [ ]:
health_food= pd.read_csv("static/data/health_problem.csv")
health_food.to_json("static/data/health_problem2.json", orient="records")

In [9]:
he

AttributeError: 'Series' object has no attribute 'split'

In [13]:
def problem_dd():
    problem_list = []
    with open('static/data/problem.csv') as problem_file:
        problem = csv.reader(problem_file, delimiter=',')
        next(problem, None)
        for row in problem:
            problem_list.append({'prob_id':row[0], 'prob_desc': row[1]})
        return problem_list

problem_dd()

[{'prob_id': '1', 'prob_desc': 'High Cholestrol'},
 {'prob_id': '2', 'prob_desc': 'High Blood Pressure'},
 {'prob_id': '3', 'prob_desc': 'Gout'},
 {'prob_id': '5', 'prob_desc': 'Vitamin D Deficiency'},
 {'prob_id': '6', 'prob_desc': 'Breast Cancer'},
 {'prob_id': '9', 'prob_desc': 'Prostrate Cancer'},
 {'prob_id': '12', 'prob_desc': 'Stomach Cancer'},
 {'prob_id': '15', 'prob_desc': 'Rhematoid Arthiritis'},
 {'prob_id': '16', 'prob_desc': 'Diabetes Type 2'},
 {'prob_id': '18', 'prob_desc': 'Depression'},
 {'prob_id': '27', 'prob_desc': 'Celiac Disease'},
 {'prob_id': '28', 'prob_desc': "Crohn's Disease"},
 {'prob_id': '34', 'prob_desc': 'Ulcers'}]

In [8]:

# from IPython.display import HTML
health_df = pd.read_csv("static/data/health.csv")
health = health_df.rename(columns={'All_persons': 'Total', 'Less_than_high_school': '< High School', 'High_school': "High Schhol",
                      'Some_college': 'Some College', "Less_than_18": "Still in School",
                        "Excellent_health": "Excellent Health",
                      "VG_health": "Very Good Health", "Good_health": "Good Health", "Fair_health": "Fair Health",
                      "Poor_health": "Poor Health"})
health.set_index("Year", inplace=True)
health.style.set_properties({'width': '6000px'})
health = health.applymap('{:,}'.format)

health

,Total,Male,Female,< High School,High Schhol,Some College,Still in School,Excellent Health,Very Good Health,Good Health,Fair Health,Poor Health
Year,,,,,,,,,,,,
2016,"1,617,531","688,394","929,137","204,665","422,550","818,189","158,393","217,291","389,788","496,200","318,004","192,553"
2015,"1,599,907","700,699","899,208","178,372","422,544","864,930","126,000","225,866","346,476","504,467","310,000","204,207"
2014,"1,499,365","684,561","814,804","182,245","332,551","826,382","153,137","207,702","365,160","424,211","301,849","195,345"
2013,"1,400,523","599,960","800,563","167,905","317,342","759,359","149,067","200,325","345,861","399,083","280,754","170,123"
2012,"1,350,721","612,771","737,950","164,256","369,122","676,993","133,951","186,426","314,371","403,920","234,314","204,754"
2011,"1,330,725","603,207","727,518","164,843","353,147","687,861","117,558","187,892","309,873","408,089","250,367","171,327"
2010,"1,263,419","555,977","707,442","184,437","328,109","629,346","115,786","172,763","293,997","378,721","244,607","167,700"
2009,"1,259,456","535,983","723,473","193,600","365,512","552,229","143,261","172,779","318,728","353,914","253,860","156,863"
2008,"1,148,361","492,840","655,521","175,506","325,051","527,038","114,454","173,150","268,419","308,818","224,649","164,542"
2007,"1,126,056","489,997","636,059","201,290","303,935","509,202","102,444","159,377","261,337","334,567","212,319","152,585"
2006,"1,033,056","441,099","591,958","189,977","295,284","441,837","98,789","145,973","245,667","303,455","188,510","145,101"
2005,"1,023,763","428,757","595,006","176,257","313,642","429,700","100,514","132,143","228,819","303,040","197,677","153,608"
2004,"963,882","407,946","555,936","169,945","294,014","410,103","83,679","131,063","221,720","271,919","196,233","137,426"
2003,"895,527","406,669","488,858","174,788","273,337","359,806","80,187","119,167","212,985","247,160","171,805","138,456"
2002,"810,724","351,351","459,373","179,346","243,800","302,815","78,990","105,672","181,993","241,586","156,218","117,403"

In [ ]:
health_html = health_df.to_html().replace('\n', '')

health_html

In [2]:
per_person_df = pd.read_csv("static/data/per_person.csv")
per_person = per_person_df.rename(columns={'Per_person': 'Total per Person', 'per_Male': "Male", 'per_Female': "Female",
                        'per_Less_than_high_school': '< High School', 'per_High_school': "High Schhol",
                      'per_Some_college': 'Some College', "per_Less_than_18": "Still in School",
                        "per_Excellent_health": "Excellent Health",
                      "per_VG_health": "Very Good Health", "per_Good_health": "Good Health", "per_Fair_health": "Fair Health",
                      "per_Poor_health": "Poor Health"})
per_person.set_index("Year", inplace=True)

per_person

,Total per Person,Male,Female,< High School,High Schhol,Some College,Still in School,Excellent Health,Very Good Health,Good Health,Fair Health,Poor Health
Year,,,,,,,,,,,,
2016,5,4,6,6,6,6,2,2,4,6,12,23
2015,5,4,5,5,6,6,2,2,3,6,12,26
2014,5,4,5,5,5,6,2,2,4,5,12,23
2013,4,4,5,5,5,5,2,2,3,5,11,20
2012,4,4,5,5,6,5,2,2,3,5,9,22
2011,4,4,5,5,5,5,2,2,3,5,10,21
2010,4,4,5,5,5,5,2,2,3,5,10,20
2009,4,4,5,5,5,5,2,2,3,5,10,18
2008,4,3,4,4,5,5,2,2,3,4,9,18
2007,4,3,4,5,4,4,1,2,3,5,9,19
2006,3,3,4,4,4,4,1,2,2,4,8,17
2005,3,3,4,4,4,4,1,1,2,4,9,18
2004,3,3,4,4,4,4,1,1,2,4,8,16
2003,3,3,3,4,4,4,1,1,2,3,8,17
2002,3,2,3,4,3,3,1,1,2,3,7,14

In [3]:
per_person_html = per_person.to_html().replace('\n', '')

per_person_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Total per Person</th>      <th>Male</th>      <th>Female</th>      <th>&lt; High School</th>      <th>High Schhol</th>      <th>Some College</th>      <th>Still in School</th>      <th>Excellent Health</th>      <th>Very Good Health</th>      <th>Good Health</th>      <th>Fair Health</th>      <th>Poor Health</th>    </tr>    <tr>      <th>Year</th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>2016</th>      <td>5</td>      <td>4</td>      <td>6</td>      <td>6</td>      <td>6</td>      <td>6</td>      <td>2</td>      <td>2</td>      <td>4</td>      <td>6</td>      <td>12</td>      <td>23</td>    </tr>    <tr>      <th>2015</th>      <td>5</td>      <td>4</td>      <td>5</td>      <td>5</td>      <td>6</td>      <td>6</td>      <td>2</td>      <td>2</td>      <td>3</td>      <td>6</td>      <td>12</td>      <td>26</td>    </tr>    <tr>      <th>2014</th>      <td>5</td>      <td>4</td>      <td>5</td>      <td>5</td>      <td>5</td>      <td>6</td>      <td>2</td>      <td>2</td>      <td>4</td>      <td>5</td>      <td>12</td>      <td>23</td>    </tr>    <tr>      <th>2013</th>      <td>4</td>      <td>4</td>      <td>5</td>      <td>5</td>      <td>5</td>      <td>5</td>      <td>2</td>      <td>2</td>      <td>3</td>      <td>5</td>      <td>11</td>      <td>20</td>    </tr>    <tr>      <th>2012</th>      <td>4</td>      <td>4</td>      <td>5</td>      <td>5</td>      <td>6</td>      <td>5</td>      <td>2</td>      <td>2</td>      <td>3</td>      <td>5</td>      <td>9</td>      <td>22</td>    </tr>    <tr>      <th>2011</th>      <td>4</td>      <td>4</td>      <td>5</td>      <td>5</td>      <td>5</td>      <td>5</td>      <td>2</td>      <td>2</td>      <td>3</td>      <td>5</td>      <td>10</td>      <td>21</td>    </tr>    <tr>      <th>2010</th>      <td>4</td>      <td>4</td>      <td>5</td>      <td>5</td>      <td>5</td>      <td>5</td>      <td>2</td>      <td>2</td>      <td>3</td>      <td>5</td>      <td>10</td>      <td>20</td>    </tr>    <tr>      <th>2009</th>      <td>4</td>      <td>4</td>      <td>5</td>      <td>5</td>      <td>5</td>      <td>5</td>      <td>2</td>      <td>2</td>      <td>3</td>      <td>5</td>      <td>10</td>      <td>18</td>    </tr>    <tr>      <th>2008</th>      <td>4</td>      <td>3</td>      <td>4</td>      <td>4</td>      <td>5</td>      <td>5</td>      <td>2</td>      <td>2</td>      <td>3</td>      <td>4</td>      <td>9</td>      <td>18</td>    </tr>    <tr>      <th>2007</th>      <td>4</td>      <td>3</td>      <td>4</td>      <td>5</td>      <td>4</td>      <td>4</td>      <td>1</td>      <td>2</td>      <td>3</td>      <td>5</td>      <td>9</td>      <td>19</td>    </tr>    <tr>      <th>2006</th>      <td>3</td>      <td>3</td>      <td>4</td>      <td>4</td>      <td>4</td>      <td>4</td>      <td>1</td>      <td>2</td>      <td>2</td>      <td>4</td>      <td>8</td>      <td>17</td>    </tr>    <tr>      <th>2005</th>      <td>3</td>      <td>3</td>      <td>4</td>      <td>4</td>      <td>4</td>      <td>4</td>      <td>1</td>      <td>1</td>      <td>2</td>      <td>4</td>      <td>9</td>      <td>18</td>    </tr>    <tr>      <th>2004</th>      <td>3</td>      <td>3</td>      <td>4</td>      <td>4</td>      <td>4</td>      <td>4</td>      <td>1</td>      <td>1</td>      <td>2</td>      <td>4</td>      <td>8</td>      <td>16</td>    </tr>    <tr>      <th>2003</th>      <td>3</td>      <td>3</td>      <td>3</td>      <td>4</td>      <td>4</td>      <td>4</td>      <td>1</td>      <td>1</td>      <td>2</td>      <td>3</td>      <td>8</td>      <td>17</td>    </tr>    <tr>      <th>2002</th>      <td>3</td>      <td>2</td>      <td>3</td>      <td>4</td>      <td>3</td>      <td>3</td>      <td>1</td>      <td>1</td>      <td>2</td>      <td>3</td>      <td>7</td>      <td>14</td>    </tr>  </tbody></table>'

In [ ]:
from config import api

In [ ]:
# https://nutridigm-api-dev.azurewebsites.net/api/v1/nutridigm/topitemstoconsume?subscriptionId=e837b246-f6ab-8abe-545b-320d905f0024&problemId=35&api_key=e837b246-f6ab-8abe-545b-320d905f0024


base_url="https://nutridigm-api-dev.azurewebsites.net"
consume_url="/api/v1/nutridigm/topitemstoconsume?"
avoid_url="/api/v1/nutridigm/topitemstoavoid?"

problemId = 2

query_consume=base_url + consume_url + f'subscriptionId={api}&problemId={problemId}&api_key={api}'

query_avoid=base_url + avoid_url + f'subscriptionId={api}&problemId={problemId}&api_key={api}'

In [ ]:
# Get the top ten items to consume
consume_food = requests.get(query_consume).json()
print(consume_food)

In [ ]:
type(consume_food)

In [ ]:
len(consume_food)

In [ ]:
# avoid_food= requests.get(query_avoid).json()
# print(avoid_food)

In [ ]:
# def food(ProblemId):
#     consume_food = requests.get(query_consume).json()
#     avoid_food = requests.get(query_avoid).json()
#     return consume_food, avoid_food

# food(6)

In [ ]:
# for c in consume_food:
    
# print(*consume_food, sep=';')

In [ ]:
for c in consume_food:
    con =c.split('; ')
    print(con)

In [ ]:
for c in con:
    print(c)

In [ ]:
# for a in avoid_food:
#     avoid= a.split('; ')

# for a in avoid:
#     print(a)

In [ ]:
def food(problemId):
    base_url="https://nutridigm-api-dev.azurewebsites.net"
    consume_url="/api/v1/nutridigm/topitemstoconsume?"
    avoid_url="/api/v1/nutridigm/topitemstoavoid?"

#     problemId = 2

    query_consume=base_url + consume_url + f'subscriptionId={api}&problemId={problemId}&api_key={api}'

    query_avoid=base_url + avoid_url + f'subscriptionId={api}&problemId={problemId}&api_key={api}'
    consume_food = requests.get(query_consume).json()
    for c in consume_food:
        consume =c.split('; ')
        for c in consume:
            
    avoid_food = requests.get(query_avoid).json()
    for a in avoid_food:
        avoid=a.split('; ')
        print(consume)
        print(avoid)
        return consume, avoid 

consume, avoid = food(16)

In [ ]:
len(consume)