In [1]:
import pandas as pd
# from IPython.display import HTML
import requests
health = pd.read_csv("static/data/health.csv")

health

,Year,All_persons,Male,Female,Less_than_high_school,High_school,Some_college,Less than 18,Excellent_health,VG_health,Good_health,Fair_health,Poor_health
0,2016,1617531,688394,929137,204665,422550,818189,158393,217291,389788,496200,318004,192553
1,2015,1599907,700699,899208,178372,422544,864930,126000,225866,346476,504467,310000,204207
2,2014,1499365,684561,814804,182245,332551,826382,153137,207702,365160,424211,301849,195345
3,2013,1400523,599960,800563,167905,317342,759359,149067,200325,345861,399083,280754,170123
4,2012,1350721,612771,737950,164256,369122,676993,133951,186426,314371,403920,234314,204754
5,2011,1330725,603207,727518,164843,353147,687861,117558,187892,309873,408089,250367,171327
6,2010,1263419,555977,707442,184437,328109,629346,115786,172763,293997,378721,244607,167700
7,2009,1259456,535983,723473,193600,365512,552229,143261,172779,318728,353914,253860,156863
8,2008,1148361,492840,655521,175506,325051,527038,114454,173150,268419,308818,224649,164542
9,2007,1126056,489997,636059,201290,303935,509202,102444,159377,261337,334567,212319,152585
10,2006,1033056,441099,591958,189977,295284,441837,98789,145973,245667,303455,188510,145101
11,2005,1023763,428757,595006,176257,313642,429700,100514,132143,228819,303040,197677,153608
12,2004,963882,407946,555936,169945,294014,410103,83679,131063,221720,271919,196233,137426
13,2003,895527,406669,488858,174788,273337,359806,80187,119167,212985,247160,171805,138456
14,2002,810724,351351,459373,179346,243800,302815,78990,105672,181993,241586,156218,117403

In [2]:
health_html = health.to_html().replace('\n', '')
# facts =facts_html.replace('\n', '')
health_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Year</th>      <th>All_persons</th>      <th>Male</th>      <th>Female</th>      <th>Less_than_high_school</th>      <th>High_school</th>      <th>Some_college</th>      <th>Less than 18</th>      <th>Excellent_health</th>      <th>VG_health</th>      <th>Good_health</th>      <th>Fair_health</th>      <th>Poor_health</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>2016</td>      <td>1617531</td>      <td>688394</td>      <td>929137</td>      <td>204665</td>      <td>422550</td>      <td>818189</td>      <td>158393</td>      <td>217291</td>      <td>389788</td>      <td>496200</td>      <td>318004</td>      <td>192553</td>    </tr>    <tr>      <th>1</th>      <td>2015</td>      <td>1599907</td>      <td>700699</td>      <td>899208</td>      <td>178372</td>      <td>422544</td>      <td>864930</td>      <td>126000</td>      <td>225866</td>      <td>346476</td>      <td>504467</td>      <td>310000</td>      <td>204207</td>    </tr>    <tr>      <th>2</th>      <td>2014</td>      <td>1499365</td>      <td>684561</td>      <td>814804</td>      <td>182245</td>      <td>332551</td>      <td>826382</td>      <td>153137</td>      <td>207702</td>      <td>365160</td>      <td>424211</td>      <td>301849</td>      <td>195345</td>    </tr>    <tr>      <th>3</th>      <td>2013</td>      <td>1400523</td>      <td>599960</td>      <td>800563</td>      <td>167905</td>      <td>317342</td>      <td>759359</td>      <td>149067</td>      <td>200325</td>      <td>345861</td>      <td>399083</td>      <td>280754</td>      <td>170123</td>    </tr>    <tr>      <th>4</th>      <td>2012</td>      <td>1350721</td>      <td>612771</td>      <td>737950</td>      <td>164256</td>      <td>369122</td>      <td>676993</td>      <td>133951</td>      <td>186426</td>      <td>314371</td>      <td>403920</td>      <td>234314</td>      <td>204754</td>    </tr>    <tr>      <th>5</th>      <td>2011</td>      <td>1330725</td>      <td>603207</td>      <td>727518</td>      <td>164843</td>      <td>353147</td>      <td>687861</td>      <td>117558</td>      <td>187892</td>      <td>309873</td>      <td>408089</td>      <td>250367</td>      <td>171327</td>    </tr>    <tr>      <th>6</th>      <td>2010</td>      <td>1263419</td>      <td>555977</td>      <td>707442</td>      <td>184437</td>      <td>328109</td>      <td>629346</td>      <td>115786</td>      <td>172763</td>      <td>293997</td>      <td>378721</td>      <td>244607</td>      <td>167700</td>    </tr>    <tr>      <th>7</th>      <td>2009</td>      <td>1259456</td>      <td>535983</td>      <td>723473</td>      <td>193600</td>      <td>365512</td>      <td>552229</td>      <td>143261</td>      <td>172779</td>      <td>318728</td>      <td>353914</td>      <td>253860</td>      <td>156863</td>    </tr>    <tr>      <th>8</th>      <td>2008</td>      <td>1148361</td>      <td>492840</td>      <td>655521</td>      <td>175506</td>      <td>325051</td>      <td>527038</td>      <td>114454</td>      <td>173150</td>      <td>268419</td>      <td>308818</td>      <td>224649</td>      <td>164542</td>    </tr>    <tr>      <th>9</th>      <td>2007</td>      <td>1126056</td>      <td>489997</td>      <td>636059</td>      <td>201290</td>      <td>303935</td>      <td>509202</td>      <td>102444</td>      <td>159377</td>      <td>261337</td>      <td>334567</td>      <td>212319</td>      <td>152585</td>    </tr>    <tr>      <th>10</th>      <td>2006</td>      <td>1033056</td>      <td>441099</td>      <td>591958</td>      <td>189977</td>      <td>295284</td>      <td>441837</td>      <td>98789</td>      <td>145973</td>      <td>245667</td>      <td>303455</td>      <td>188510</td>      <td>145101</td>    </tr>    <tr>      <th>11</th>      <td>2005</td>      <td>1023763</td>      <td>428757</td>      <td>595006</td>      <td>176257</td>      <td>313642</td>      <td>429700</td>      <td>100514</td>      <td>132143</td>      <td>228819</td>      <td>303040</td>      <td>197677</td>      <td>153608</td>    </tr>    <tr>      <th>12</th>      <td>2004</td>      <td>963882</td>      <td>407946</td>      <td>555936</td>      <td>169945</td>      <td>294014</td>      <td>410103</td>      <td>83679</td>      <td>131063</td>      <td>221720</td>      <td>271919</td>      <td>196233</td>      <td>137426</td>    </tr>    <tr>      <th>13</th>      <td>2003</td>      <td>895527</td>      <td>406669</td>      <td>488858</td>      <td>174788</td>      <td>273337</td>      <td>359806</td>      <td>80187</td>      <td>119167</td>      <td>212985</td>      <td>247160</td>      <td>171805</td>      <td>138456</td>    </tr>    <tr>      <th>14</th>      <td>2002</td>      <td>810724</td>      <td>351351</td>      <td>459373</td>      <td>179346</td>      <td>243800</td>      <td>302815</td>      <td>78990</td>      <td>105672</td>      <td>181993</td>      <td>241586</td>      <td>156218</td>      <td>117403</td>    </tr>  </tbody></table>'

In [3]:
# HTML(books.head().to_html())

In [4]:
from config import api

In [5]:
# https://nutridigm-api-dev.azurewebsites.net/api/v1/nutridigm/topitemstoconsume?subscriptionId=e837b246-f6ab-8abe-545b-320d905f0024&problemId=35&api_key=e837b246-f6ab-8abe-545b-320d905f0024


base_url="https://nutridigm-api-dev.azurewebsites.net"
consume="/api/v1/nutridigm/topitemstoconsume?"
avoid="/api/v1/nutridigm/topitemstoavoid?"

problemId = 6

query_consume=base_url + consume + f'subscriptionId={api}&problemId={problemId}&api_key={api}'

query_avoid=base_url + avoid + f'subscriptionId={api}&problemId={problemId}&api_key={api}'

# print(f'Top ten to consume:  {query_consume}')

In [6]:
# print(f'Top ten to avoid:  {query_avoid}')

In [7]:
# Get the top ten items to consume
consume_food = requests.get(query_consume).json()
print(consume_food)

['Broccoli, Cruciferous and Green Leafy vegetables; Garlic & other vegetables; Green tea; Apricots, Avocado, Cantaloupe & other; Beans & Peas; Organically grown foods & Exercise;']

In [8]:
avoid_food= requests.get(query_avoid).json()
print(avoid_food)

['Wheat/Whole-wheat; Sweets & Sugar; Pesticide-loaded crops; Processed/Refined foods; Mercury-containing Fish; & Smoking/Tobacco;']

In [9]:
def food(ProblemId):
    consume_food = requests.get(query_consume).json()
    avoid_food= requests.get(query_avoid).json()
    return consume_food, avoid_food

food(6)

(['Broccoli, Cruciferous and Green Leafy vegetables; Garlic & other vegetables; Green tea; Apricots, Avocado, Cantaloupe & other; Beans & Peas; Organically grown foods & Exercise;'],
 ['Wheat/Whole-wheat; Sweets & Sugar; Pesticide-loaded crops; Processed/Refined foods; Mercury-containing Fish; & Smoking/Tobacco;'])

In [20]:
type(consume_food)

list

In [22]:
for c in consume_food:
    
    print(*consume_food, sep=',')

Broccoli, Cruciferous and Green Leafy vegetables; Garlic & other vegetables; Green tea; Apricots, Avocado, Cantaloupe & other; Beans & Peas; Organically grown foods & Exercise;