In [2]:
import csv
import pandas as pd

In [3]:
health_food= pd.read_csv("static/data/health_problem.csv", dtype={'Consume':str})
# health_food["Consume"]= health_food.Consume.astype(str)
# to change use .astype() 

health_food.dtypes
# health_food

ID                 int64
Health Problem    object
Consume           object
Avoid             object
dtype: object

In [4]:
health_food.to_json("static/data/health_problem2.json", orient="records")

In [5]:
def problem_dd():
    problem_list = []
    with open('static/data/problem.csv') as problem_file:
        problem = csv.reader(problem_file, delimiter=',')
        next(problem, None)
        for row in problem:
            problem_list.append({'prob_id':row[0], 'prob_desc': row[1]})
        return problem_list

problem_dd()

[{'prob_id': '1', 'prob_desc': 'High Cholestrol'},
 {'prob_id': '2', 'prob_desc': 'High Blood Pressure'},
 {'prob_id': '3', 'prob_desc': 'Gout'},
 {'prob_id': '5', 'prob_desc': 'Vitamin D Deficiency'},
 {'prob_id': '6', 'prob_desc': 'Breast Cancer'},
 {'prob_id': '9', 'prob_desc': 'Prostrate Cancer'},
 {'prob_id': '12', 'prob_desc': 'Stomach Cancer'},
 {'prob_id': '15', 'prob_desc': 'Rhematoid Arthiritis'},
 {'prob_id': '16', 'prob_desc': 'Diabetes Type 2'},
 {'prob_id': '18', 'prob_desc': 'Depression'},
 {'prob_id': '27', 'prob_desc': 'Celiac Disease'},
 {'prob_id': '28', 'prob_desc': "Crohn's Disease"},
 {'prob_id': '34', 'prob_desc': 'Ulcers'}]

In [6]:
health_df = pd.read_csv("static/data/health.csv")
health = health_df.rename(columns={'All_persons': 'Total', 'Less_than_high_school': '< High School', 'High_school': "High Schhol",
                      'Some_college': 'Some College', "Less_than_18": "Still in School",
                        "Excellent_health": "Excellent Health",
                      "VG_health": "Very Good Health", "Good_health": "Good Health", "Fair_health": "Fair Health",
                      "Poor_health": "Poor Health"})
health.set_index("Year", inplace=True)

health = health.applymap('{:,}'.format)

health

,Total,Male,Female,< High School,High Schhol,Some College,Still in School,Excellent Health,Very Good Health,Good Health,Fair Health,Poor Health
Year,,,,,,,,,,,,
2016,"1,617,531","688,394","929,137","204,665","422,550","818,189","158,393","217,291","389,788","496,200","318,004","192,553"
2015,"1,599,907","700,699","899,208","178,372","422,544","864,930","126,000","225,866","346,476","504,467","310,000","204,207"
2014,"1,499,365","684,561","814,804","182,245","332,551","826,382","153,137","207,702","365,160","424,211","301,849","195,345"
2013,"1,400,523","599,960","800,563","167,905","317,342","759,359","149,067","200,325","345,861","399,083","280,754","170,123"
2012,"1,350,721","612,771","737,950","164,256","369,122","676,993","133,951","186,426","314,371","403,920","234,314","204,754"
2011,"1,330,725","603,207","727,518","164,843","353,147","687,861","117,558","187,892","309,873","408,089","250,367","171,327"
2010,"1,263,419","555,977","707,442","184,437","328,109","629,346","115,786","172,763","293,997","378,721","244,607","167,700"
2009,"1,259,456","535,983","723,473","193,600","365,512","552,229","143,261","172,779","318,728","353,914","253,860","156,863"
2008,"1,148,361","492,840","655,521","175,506","325,051","527,038","114,454","173,150","268,419","308,818","224,649","164,542"
2007,"1,126,056","489,997","636,059","201,290","303,935","509,202","102,444","159,377","261,337","334,567","212,319","152,585"
2006,"1,033,056","441,099","591,958","189,977","295,284","441,837","98,789","145,973","245,667","303,455","188,510","145,101"
2005,"1,023,763","428,757","595,006","176,257","313,642","429,700","100,514","132,143","228,819","303,040","197,677","153,608"
2004,"963,882","407,946","555,936","169,945","294,014","410,103","83,679","131,063","221,720","271,919","196,233","137,426"
2003,"895,527","406,669","488,858","174,788","273,337","359,806","80,187","119,167","212,985","247,160","171,805","138,456"
2002,"810,724","351,351","459,373","179,346","243,800","302,815","78,990","105,672","181,993","241,586","156,218","117,403"

In [6]:
health_html = health_df.to_html().replace('\n', '')

health_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Year</th>      <th>All_persons</th>      <th>Male</th>      <th>Female</th>      <th>Less_than_high_school</th>      <th>High_school</th>      <th>Some_college</th>      <th>Less_than_18</th>      <th>Excellent_health</th>      <th>VG_health</th>      <th>Good_health</th>      <th>Fair_health</th>      <th>Poor_health</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>2016</td>      <td>1617531</td>      <td>688394</td>      <td>929137</td>      <td>204665</td>      <td>422550</td>      <td>818189</td>      <td>158393</td>      <td>217291</td>      <td>389788</td>      <td>496200</td>      <td>318004</td>      <td>192553</td>    </tr>    <tr>      <th>1</th>      <td>2015</td>      <td>1599907</td>      <td>700699</td>      <td>899208</td>      <td>178372</td>      <td>422544</td>      <td>864930</td>      <td>126000</td>      <td>225866</td>      <td>346476</td>      <td>504467</td>      <td>310000</td>      <td>204207</td>    </tr>    <tr>      <th>2</th>      <td>2014</td>      <td>1499365</td>      <td>684561</td>      <td>814804</td>      <td>182245</td>      <td>332551</td>      <td>826382</td>      <td>153137</td>      <td>207702</td>      <td>365160</td>      <td>424211</td>      <td>301849</td>      <td>195345</td>    </tr>    <tr>      <th>3</th>      <td>2013</td>      <td>1400523</td>      <td>599960</td>      <td>800563</td>      <td>167905</td>      <td>317342</td>      <td>759359</td>      <td>149067</td>      <td>200325</td>      <td>345861</td>      <td>399083</td>      <td>280754</td>      <td>170123</td>    </tr>    <tr>      <th>4</th>      <td>2012</td>      <td>1350721</td>      <td>612771</td>      <td>737950</td>      <td>164256</td>      <td>369122</td>      <td>676993</td>      <td>133951</td>      <td>186426</td>      <td>314371</td>      <td>403920</td>      <td>234314</td>      <td>204754</td>    </tr>    <tr>      <th>5</th>      <td>2011</td>      <td>1330725</td>      <td>603207</td>      <td>727518</td>      <td>164843</td>      <td>353147</td>      <td>687861</td>      <td>117558</td>      <td>187892</td>      <td>309873</td>      <td>408089</td>      <td>250367</td>      <td>171327</td>    </tr>    <tr>      <th>6</th>      <td>2010</td>      <td>1263419</td>      <td>555977</td>      <td>707442</td>      <td>184437</td>      <td>328109</td>      <td>629346</td>      <td>115786</td>      <td>172763</td>      <td>293997</td>      <td>378721</td>      <td>244607</td>      <td>167700</td>    </tr>    <tr>      <th>7</th>      <td>2009</td>      <td>1259456</td>      <td>535983</td>      <td>723473</td>      <td>193600</td>      <td>365512</td>      <td>552229</td>      <td>143261</td>      <td>172779</td>      <td>318728</td>      <td>353914</td>      <td>253860</td>      <td>156863</td>    </tr>    <tr>      <th>8</th>      <td>2008</td>      <td>1148361</td>      <td>492840</td>      <td>655521</td>      <td>175506</td>      <td>325051</td>      <td>527038</td>      <td>114454</td>      <td>173150</td>      <td>268419</td>      <td>308818</td>      <td>224649</td>      <td>164542</td>    </tr>    <tr>      <th>9</th>      <td>2007</td>      <td>1126056</td>      <td>489997</td>      <td>636059</td>      <td>201290</td>      <td>303935</td>      <td>509202</td>      <td>102444</td>      <td>159377</td>      <td>261337</td>      <td>334567</td>      <td>212319</td>      <td>152585</td>    </tr>    <tr>      <th>10</th>      <td>2006</td>      <td>1033056</td>      <td>441099</td>      <td>591958</td>      <td>189977</td>      <td>295284</td>      <td>441837</td>      <td>98789</td>      <td>145973</td>      <td>245667</td>      <td>303455</td>      <td>188510</td>      <td>145101</td>    </tr>    <tr>      <th>11</th>      <td>2005</td>      <td>1023763</td>      <td>428757</td>      <td>595006</td>      <td>176257</td>      <td>313642</td>      <td>429700</td>      <td>100514</td>      <td>132143</td>      <td>228819</td>      <td>303040</td>      <td>197677</td>      <td>153608</td>    </tr>    <tr>      <th>12</th>      <td>2004</td>      <td>963882</td>      <td>407946</td>      <td>555936</td>      <td>169945</td>      <td>294014</td>      <td>410103</td>      <td>83679</td>      <td>131063</td>      <td>221720</td>      <td>271919</td>      <td>196233</td>      <td>137426</td>    </tr>    <tr>      <th>13</th>      <td>2003</td>      <td>895527</td>      <td>406669</td>      <td>488858</td>      <td>174788</td>      <td>273337</td>      <td>359806</td>      <td>80187</td>      <td>119167</td>      <td>212985</td>      <td>247160</td>      <td>171805</td>      <td>138456</td>    </tr>    <tr>      <th>14</th>      <td>2002</td>      <td>810724</td>      <td>351351</td>      <td>459373</td>      <td>179346</td>      <td>243800</td>      <td>302815</td>      <td>78990</td>      <td>105672</td>      <td>181993</td>      <td>241586</td>      <td>156218</td>      <td>117403</td>    </tr>  </tbody></table>'

In [7]:
per_person_df = pd.read_csv("static/data/per_person.csv")
per_person = per_person_df.rename(columns={'Per_person': 'Total per Person', 'per_Male': "Male", 'per_Female': "Female",
                        'per_Less_than_high_school': '< High School', 'per_High_school': "High Schhol",
                      'per_Some_college': 'Some College', "per_Less_than_18": "Still in School",
                        "per_Excellent_health": "Excellent Health",
                      "per_VG_health": "Very Good Health", "per_Good_health": "Good Health", "per_Fair_health": "Fair Health",
                      "per_Poor_health": "Poor Health"})
per_person.set_index("Year", inplace=True)

per_person

,Total per Person,Male,Female,< High School,High Schhol,Some College,Still in School,Excellent Health,Very Good Health,Good Health,Fair Health,Poor Health
Year,,,,,,,,,,,,
2016,5,4,6,6,6,6,2,2,4,6,12,23
2015,5,4,5,5,6,6,2,2,3,6,12,26
2014,5,4,5,5,5,6,2,2,4,5,12,23
2013,4,4,5,5,5,5,2,2,3,5,11,20
2012,4,4,5,5,6,5,2,2,3,5,9,22
2011,4,4,5,5,5,5,2,2,3,5,10,21
2010,4,4,5,5,5,5,2,2,3,5,10,20
2009,4,4,5,5,5,5,2,2,3,5,10,18
2008,4,3,4,4,5,5,2,2,3,4,9,18
2007,4,3,4,5,4,4,1,2,3,5,9,19
2006,3,3,4,4,4,4,1,2,2,4,8,17
2005,3,3,4,4,4,4,1,1,2,4,9,18
2004,3,3,4,4,4,4,1,1,2,4,8,16
2003,3,3,3,4,4,4,1,1,2,3,8,17
2002,3,2,3,4,3,3,1,1,2,3,7,14

In [8]:
per_person_html = per_person.to_html().replace('\n', '')

per_person_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Total per Person</th>      <th>Male</th>      <th>Female</th>      <th>&lt; High School</th>      <th>High Schhol</th>      <th>Some College</th>      <th>Still in School</th>      <th>Excellent Health</th>      <th>Very Good Health</th>      <th>Good Health</th>      <th>Fair Health</th>      <th>Poor Health</th>    </tr>    <tr>      <th>Year</th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>2016</th>      <td>5</td>      <td>4</td>      <td>6</td>      <td>6</td>      <td>6</td>      <td>6</td>      <td>2</td>      <td>2</td>      <td>4</td>      <td>6</td>      <td>12</td>      <td>23</td>    </tr>    <tr>      <th>2015</th>      <td>5</td>      <td>4</td>      <td>5</td>      <td>5</td>      <td>6</td>      <td>6</td>      <td>2</td>      <td>2</td>      <td>3</td>      <td>6</td>      <td>12</td>      <td>26</td>    </tr>    <tr>      <th>2014</th>      <td>5</td>      <td>4</td>      <td>5</td>      <td>5</td>      <td>5</td>      <td>6</td>      <td>2</td>      <td>2</td>      <td>4</td>      <td>5</td>      <td>12</td>      <td>23</td>    </tr>    <tr>      <th>2013</th>      <td>4</td>      <td>4</td>      <td>5</td>      <td>5</td>      <td>5</td>      <td>5</td>      <td>2</td>      <td>2</td>      <td>3</td>      <td>5</td>      <td>11</td>      <td>20</td>    </tr>    <tr>      <th>2012</th>      <td>4</td>      <td>4</td>      <td>5</td>      <td>5</td>      <td>6</td>      <td>5</td>      <td>2</td>      <td>2</td>      <td>3</td>      <td>5</td>      <td>9</td>      <td>22</td>    </tr>    <tr>      <th>2011</th>      <td>4</td>      <td>4</td>      <td>5</td>      <td>5</td>      <td>5</td>      <td>5</td>      <td>2</td>      <td>2</td>      <td>3</td>      <td>5</td>      <td>10</td>      <td>21</td>    </tr>    <tr>      <th>2010</th>      <td>4</td>      <td>4</td>      <td>5</td>      <td>5</td>      <td>5</td>      <td>5</td>      <td>2</td>      <td>2</td>      <td>3</td>      <td>5</td>      <td>10</td>      <td>20</td>    </tr>    <tr>      <th>2009</th>      <td>4</td>      <td>4</td>      <td>5</td>      <td>5</td>      <td>5</td>      <td>5</td>      <td>2</td>      <td>2</td>      <td>3</td>      <td>5</td>      <td>10</td>      <td>18</td>    </tr>    <tr>      <th>2008</th>      <td>4</td>      <td>3</td>      <td>4</td>      <td>4</td>      <td>5</td>      <td>5</td>      <td>2</td>      <td>2</td>      <td>3</td>      <td>4</td>      <td>9</td>      <td>18</td>    </tr>    <tr>      <th>2007</th>      <td>4</td>      <td>3</td>      <td>4</td>      <td>5</td>      <td>4</td>      <td>4</td>      <td>1</td>      <td>2</td>      <td>3</td>      <td>5</td>      <td>9</td>      <td>19</td>    </tr>    <tr>      <th>2006</th>      <td>3</td>      <td>3</td>      <td>4</td>      <td>4</td>      <td>4</td>      <td>4</td>      <td>1</td>      <td>2</td>      <td>2</td>      <td>4</td>      <td>8</td>      <td>17</td>    </tr>    <tr>      <th>2005</th>      <td>3</td>      <td>3</td>      <td>4</td>      <td>4</td>      <td>4</td>      <td>4</td>      <td>1</td>      <td>1</td>      <td>2</td>      <td>4</td>      <td>9</td>      <td>18</td>    </tr>    <tr>      <th>2004</th>      <td>3</td>      <td>3</td>      <td>4</td>      <td>4</td>      <td>4</td>      <td>4</td>      <td>1</td>      <td>1</td>      <td>2</td>      <td>4</td>      <td>8</td>      <td>16</td>    </tr>    <tr>      <th>2003</th>      <td>3</td>      <td>3</td>      <td>3</td>      <td>4</td>      <td>4</td>      <td>4</td>      <td>1</td>      <td>1</td>      <td>2</td>      <td>3</td>      <td>8</td>      <td>17</td>    </tr>    <tr>      <th>2002</th>      <td>3</td>      <td>2</td>      <td>3</td>      <td>4</td>      <td>3</td>      <td>3</td>      <td>1</td>      <td>1</td>      <td>2</td>      <td>3</td>      <td>7</td>      <td>14</td>    </tr>  </tbody></table>'

In [9]:
from config import api

In [10]:
# https://nutridigm-api-dev.azurewebsites.net/api/v1/nutridigm/topitemstoconsume?subscriptionId=e837b246-f6ab-8abe-545b-320d905f0024&problemId=35&api_key=e837b246-f6ab-8abe-545b-320d905f0024


base_url="https://nutridigm-api-dev.azurewebsites.net"
consume_url="/api/v1/nutridigm/topitemstoconsume?"
avoid_url="/api/v1/nutridigm/topitemstoavoid?"

problemId = 2

query_consume=base_url + consume_url + f'subscriptionId={api}&problemId={problemId}&api_key={api}'

query_avoid=base_url + avoid_url + f'subscriptionId={api}&problemId={problemId}&api_key={api}'

In [11]:
# Get the top ten items to consume
consume_food = requests.get(query_consume).json()
print(consume_food)

NameError: name 'requests' is not defined

In [ ]:
type(consume_food)

In [ ]:
len(consume_food)

In [ ]:
# avoid_food= requests.get(query_avoid).json()
# print(avoid_food)

In [ ]:
# def food(ProblemId):
#     consume_food = requests.get(query_consume).json()
#     avoid_food = requests.get(query_avoid).json()
#     return consume_food, avoid_food

# food(6)

In [ ]:
# for c in consume_food:
    
# print(*consume_food, sep=';')

In [ ]:
for c in consume_food:
    con =c.split('; ')
    print(con)

In [ ]:
for c in con:
    print(c)

In [ ]:
# for a in avoid_food:
#     avoid= a.split('; ')

# for a in avoid:
#     print(a)

In [ ]:
def food(problemId):
    base_url="https://nutridigm-api-dev.azurewebsites.net"
    consume_url="/api/v1/nutridigm/topitemstoconsume?"
    avoid_url="/api/v1/nutridigm/topitemstoavoid?"

#     problemId = 2

    query_consume=base_url + consume_url + f'subscriptionId={api}&problemId={problemId}&api_key={api}'

    query_avoid=base_url + avoid_url + f'subscriptionId={api}&problemId={problemId}&api_key={api}'
    consume_food = requests.get(query_consume).json()
    for c in consume_food:
        consume =c.split('; ')
        for c in consume:
            
    avoid_food = requests.get(query_avoid).json()
    for a in avoid_food:
        avoid=a.split('; ')
        print(consume)
        print(avoid)
        return consume, avoid 

consume, avoid = food(16)

In [ ]:
len(consume)