In [22]:
import pandas as pd
# from IPython.display import HTML
import requests
health_df = pd.read_csv("static/data/health.csv")
health = health_df.rename(columns={'All_persons': 'Total', 'Less_than_high_school': '< High School', 'High_school': "High Schhol",
                      'Some_college': 'Some College', "Less_than_18": "Still in School",
                        "Excellent_health": "Excellent Health",
                      "VG_health": "Very Good Health", "Good_health": "Good Health", "Fair_health": "Fair Health",
                      "Poor_health": "Poor Health"})
health.set_index("Year", inplace=True)
# health_df["Total"] = health_df["Total"].map("{:,}".format)
health = health.applymap('{:,}'.format)

health

,Total,Male,Female,< High School,High Schhol,Some College,Still in School,Excellent Health,Very Good Health,Good Health,Fair Health,Poor Health
Year,,,,,,,,,,,,
2016,"1,617,531","688,394","929,137","204,665","422,550","818,189","158,393","217,291","389,788","496,200","318,004","192,553"
2015,"1,599,907","700,699","899,208","178,372","422,544","864,930","126,000","225,866","346,476","504,467","310,000","204,207"
2014,"1,499,365","684,561","814,804","182,245","332,551","826,382","153,137","207,702","365,160","424,211","301,849","195,345"
2013,"1,400,523","599,960","800,563","167,905","317,342","759,359","149,067","200,325","345,861","399,083","280,754","170,123"
2012,"1,350,721","612,771","737,950","164,256","369,122","676,993","133,951","186,426","314,371","403,920","234,314","204,754"
2011,"1,330,725","603,207","727,518","164,843","353,147","687,861","117,558","187,892","309,873","408,089","250,367","171,327"
2010,"1,263,419","555,977","707,442","184,437","328,109","629,346","115,786","172,763","293,997","378,721","244,607","167,700"
2009,"1,259,456","535,983","723,473","193,600","365,512","552,229","143,261","172,779","318,728","353,914","253,860","156,863"
2008,"1,148,361","492,840","655,521","175,506","325,051","527,038","114,454","173,150","268,419","308,818","224,649","164,542"
2007,"1,126,056","489,997","636,059","201,290","303,935","509,202","102,444","159,377","261,337","334,567","212,319","152,585"
2006,"1,033,056","441,099","591,958","189,977","295,284","441,837","98,789","145,973","245,667","303,455","188,510","145,101"
2005,"1,023,763","428,757","595,006","176,257","313,642","429,700","100,514","132,143","228,819","303,040","197,677","153,608"
2004,"963,882","407,946","555,936","169,945","294,014","410,103","83,679","131,063","221,720","271,919","196,233","137,426"
2003,"895,527","406,669","488,858","174,788","273,337","359,806","80,187","119,167","212,985","247,160","171,805","138,456"
2002,"810,724","351,351","459,373","179,346","243,800","302,815","78,990","105,672","181,993","241,586","156,218","117,403"

In [20]:
health_html = health_df.to_html().replace('\n', '')
# facts =facts_html.replace('\n', '')
health_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Total</th>      <th>Male</th>      <th>Female</th>      <th>Less than High School</th>      <th>High Schhol</th>      <th>Some College</th>      <th>Still in School</th>      <th>Excellent Health</th>      <th>Very Good Health</th>      <th>Good Health</th>      <th>Fair Health</th>      <th>Poor Health</th>    </tr>    <tr>      <th>Year</th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>2016</th>      <td>1,617,531</td>      <td>688,394</td>      <td>929,137</td>      <td>204,665</td>      <td>422,550</td>      <td>818,189</td>      <td>158,393</td>      <td>217,291</td>      <td>389,788</td>      <td>496,200</td>      <td>318,004</td>      <td>192,553</td>    </tr>    <tr>      <th>2015</th>      <td>1,599,907</td>      <td>700,699</td>      <td>899,208</td>      <td>178,372</td>      <td>422,544</td>      <td>864,930</td>      <td>126,000</td>      <td>225,866</td>      <td>346,476</td>      <td>504,467</td>      <td>310,000</td>      <td>204,207</td>    </tr>    <tr>      <th>2014</th>      <td>1,499,365</td>      <td>684,561</td>      <td>814,804</td>      <td>182,245</td>      <td>332,551</td>      <td>826,382</td>      <td>153,137</td>      <td>207,702</td>      <td>365,160</td>      <td>424,211</td>      <td>301,849</td>      <td>195,345</td>    </tr>    <tr>      <th>2013</th>      <td>1,400,523</td>      <td>599,960</td>      <td>800,563</td>      <td>167,905</td>      <td>317,342</td>      <td>759,359</td>      <td>149,067</td>      <td>200,325</td>      <td>345,861</td>      <td>399,083</td>      <td>280,754</td>      <td>170,123</td>    </tr>    <tr>      <th>2012</th>      <td>1,350,721</td>      <td>612,771</td>      <td>737,950</td>      <td>164,256</td>      <td>369,122</td>      <td>676,993</td>      <td>133,951</td>      <td>186,426</td>      <td>314,371</td>      <td>403,920</td>      <td>234,314</td>      <td>204,754</td>    </tr>    <tr>      <th>2011</th>      <td>1,330,725</td>      <td>603,207</td>      <td>727,518</td>      <td>164,843</td>      <td>353,147</td>      <td>687,861</td>      <td>117,558</td>      <td>187,892</td>      <td>309,873</td>      <td>408,089</td>      <td>250,367</td>      <td>171,327</td>    </tr>    <tr>      <th>2010</th>      <td>1,263,419</td>      <td>555,977</td>      <td>707,442</td>      <td>184,437</td>      <td>328,109</td>      <td>629,346</td>      <td>115,786</td>      <td>172,763</td>      <td>293,997</td>      <td>378,721</td>      <td>244,607</td>      <td>167,700</td>    </tr>    <tr>      <th>2009</th>      <td>1,259,456</td>      <td>535,983</td>      <td>723,473</td>      <td>193,600</td>      <td>365,512</td>      <td>552,229</td>      <td>143,261</td>      <td>172,779</td>      <td>318,728</td>      <td>353,914</td>      <td>253,860</td>      <td>156,863</td>    </tr>    <tr>      <th>2008</th>      <td>1,148,361</td>      <td>492,840</td>      <td>655,521</td>      <td>175,506</td>      <td>325,051</td>      <td>527,038</td>      <td>114,454</td>      <td>173,150</td>      <td>268,419</td>      <td>308,818</td>      <td>224,649</td>      <td>164,542</td>    </tr>    <tr>      <th>2007</th>      <td>1,126,056</td>      <td>489,997</td>      <td>636,059</td>      <td>201,290</td>      <td>303,935</td>      <td>509,202</td>      <td>102,444</td>      <td>159,377</td>      <td>261,337</td>      <td>334,567</td>      <td>212,319</td>      <td>152,585</td>    </tr>    <tr>      <th>2006</th>      <td>1,033,056</td>      <td>441,099</td>      <td>591,958</td>      <td>189,977</td>      <td>295,284</td>      <td>441,837</td>      <td>98,789</td>      <td>145,973</td>      <td>245,667</td>      <td>303,455</td>      <td>188,510</td>      <td>145,101</td>    </tr>    <tr>      <th>2005</th>      <td>1,023,763</td>      <td>428,757</td>      <td>595,006</td>      <td>176,257</td>      <td>313,642</td>      <td>429,700</td>      <td>100,514</td>      <td>132,143</td>      <td>228,819</td>      <td>303,040</td>      <td>197,677</td>      <td>153,608</td>    </tr>    <tr>      <th>2004</th>      <td>963,882</td>      <td>407,946</td>      <td>555,936</td>      <td>169,945</td>      <td>294,014</td>      <td>410,103</td>      <td>83,679</td>      <td>131,063</td>      <td>221,720</td>      <td>271,919</td>      <td>196,233</td>      <td>137,426</td>    </tr>    <tr>      <th>2003</th>      <td>895,527</td>      <td>406,669</td>      <td>488,858</td>      <td>174,788</td>      <td>273,337</td>      <td>359,806</td>      <td>80,187</td>      <td>119,167</td>      <td>212,985</td>      <td>247,160</td>      <td>171,805</td>      <td>138,456</td>    </tr>    <tr>      <th>2002</th>      <td>810,724</td>      <td>351,351</td>      <td>459,373</td>      <td>179,346</td>      <td>243,800</td>      <td>302,815</td>      <td>78,990</td>      <td>105,672</td>      <td>181,993</td>      <td>241,586</td>      <td>156,218</td>      <td>117,403</td>    </tr>  </tbody></table>'

In [23]:
from config import api

In [5]:
# https://nutridigm-api-dev.azurewebsites.net/api/v1/nutridigm/topitemstoconsume?subscriptionId=e837b246-f6ab-8abe-545b-320d905f0024&problemId=35&api_key=e837b246-f6ab-8abe-545b-320d905f0024


base_url="https://nutridigm-api-dev.azurewebsites.net"
consume="/api/v1/nutridigm/topitemstoconsume?"
avoid="/api/v1/nutridigm/topitemstoavoid?"

problemId = 6

query_consume=base_url + consume + f'subscriptionId={api}&problemId={problemId}&api_key={api}'

query_avoid=base_url + avoid + f'subscriptionId={api}&problemId={problemId}&api_key={api}'

# print(f'Top ten to consume:  {query_consume}')

In [7]:
# Get the top ten items to consume
consume_food = requests.get(query_consume).json()
print(consume_food)

['Broccoli, Cruciferous and Green Leafy vegetables; Garlic & other vegetables; Green tea; Apricots, Avocado, Cantaloupe & other; Beans & Peas; Organically grown foods & Exercise;']

In [8]:
avoid_food= requests.get(query_avoid).json()
print(avoid_food)

['Wheat/Whole-wheat; Sweets & Sugar; Pesticide-loaded crops; Processed/Refined foods; Mercury-containing Fish; & Smoking/Tobacco;']

In [9]:
def food(ProblemId):
    consume_food = requests.get(query_consume).json()
    avoid_food= requests.get(query_avoid).json()
    return consume_food, avoid_food

food(6)

(['Broccoli, Cruciferous and Green Leafy vegetables; Garlic & other vegetables; Green tea; Apricots, Avocado, Cantaloupe & other; Beans & Peas; Organically grown foods & Exercise;'],
 ['Wheat/Whole-wheat; Sweets & Sugar; Pesticide-loaded crops; Processed/Refined foods; Mercury-containing Fish; & Smoking/Tobacco;'])

In [20]:
type(consume_food)

list

In [22]:
for c in consume_food:
    
    print(*consume_food, sep=',')

Broccoli, Cruciferous and Green Leafy vegetables; Garlic & other vegetables; Green tea; Apricots, Avocado, Cantaloupe & other; Beans & Peas; Organically grown foods & Exercise;